@import "./../../variables.scss";

.nav{
    height: 3rem;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
    text-transform:uppercase;
    font-weight: 700;
    font-family: $base-font;
    z-index: 4;
    @media only screen and (max-width: 600px) {
        background-color: $grey-dark;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }
   

    &__logo{
        background-color: $grey-light;
        height: 100%;
        max-height: 3rem;
        display: flex;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: $logo-font;
        width: 30%;
        @media only screen and (max-width: 700px) {
            background-color: transparent;
            width: 50%;
        }
        :nth-child(1){
            position: relative;
            top: 0.3em;
            color: red;
            padding-left: 5rem;
            transform: rotate(-15deg);
            @media only screen and (max-width: 600px) {
            
                padding-left: 2.5rem;
                bottom: 0.3;
            }
        }
        :nth-child(2){
            position: relative;
            transform: rotate(20deg);
            color: green;
        }
        :nth-child(3){
            position: relative;
            bottom: 0.2rem;
            transform: rotate(-200deg);
            padding-left: 0.5rem;
            color: blue;
        }
     
    }

    &__container{
        width: 70%;
        display: flex;
        flex-direction: row;
        height: 3rem;
        background-color: $grey-dark;
        z-index: 1;
       @media only screen and (max-width: 700px) {
            
            display: none;
          
        }
       
        div{
            height: 3rem;
            width:20%;
            display: flex;
            text-align: center;
             
        }
        
    }
   
    &__link{
        text-decoration: none;
        max-height: 100%; 
        width: 100%;
        color:$grey-light ;
        transition: 0.4s ease;
       
        
         
        &:hover{
            background-color: $green;
            color: $grey-text;
         
          
        }
        &--active{
                background-color:$green ;
                color: $grey-text;  
             
        }
        
    }
    &__burger{
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100%;
        width: 4rem;
        margin-right: 1rem;
        padding-top: 0.3rem;
        color: grey;
        
        @media only screen and (min-width: 700px) {
            
            display: none;
          
        }
        &__img{
            width: 60%;
            height: 100%;
            min-height: 50%;
        }
    }
    &__sideBar{
        position: absolute;
        top:3rem;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: $grey-dark;
        z-index: 2;
        div{
            display:flex;
            a{
                padding: 0.5rem;   
            }
        }
        
        &--hide{
            display: none;
        }
        @media only screen and (min-width: 700px) {
            
            display: none;
          
        }
    }
    
}