@import "./../../variables.scss";

header{
    margin-top: 6rem;
    background-image: url('../../img/headerimg.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    h1{
        color: $white;
        
        top:2rem;
        font-size: 3rem;
       
        a{
            text-decoration: none;  
            position: relative;
            bottom:0.3rem;
            color: $green; 
            border-bottom: 4px solid $green;
            
        }
      
    }
    span{
        padding-top: 1rem;
        color: $white;
        font-size: 2rem;
        font-family: cursive;
        @media only screen and (max-width: 600px) {
            font-size: 1.7rem;
          }
    }
}
