@import "./variables.scss";
html, body {
	color: $grey-text;
	font-family: $base-font;
	font-size: 18px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
.app{
	
	.skills{
		background-color: $grey-text;
	}
	.about{
		background-color: $grey-text;
		color: $white;
		&__img{
			box-shadow: $box-shadow-light;
		}
	}
	.process{
		background-color: $grey-text;
		color: $white;
		&__circle{
			background-color:$grey-text;
		}
	}
	.footer{
		background-color: $grey-text;
		color: $white;
	}
	.contact{
		.form__text{
			background-color: $grey-text;
			color: $white;
		}
	}
}
