$green: #54be90;
$white: #ffffff;
$grey-light: #ebebeb;
$grey-text: #444444;
$grey-dark: #232323;
$black: #0e0e0e;

$box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
$box-shadow-dark: 2px 2px 8px 0px rgba(68, 68, 68, 1);
$box-shadow-light:2px 2px 8px 0px rgb(248, 247, 247);;
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700;800&display=swap');
$base-font: 'Alegreya Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
$logo-font: 'Roboto', sans-serif;